Assets/Settings/Lit2DSceneTemplate.scenetemplate
Library/ArtifactDB
Library/Artifacts/33/33a3efa6f2f843b9c76362abfd59e560
Library/Bee/200b0aE-inputdata.json
Library/Bee/200b0aE.dag
Library/Bee/200b0aE.dag.json
Library/Bee/200b0aE.dag.payloads
Library/PackageCache/com.coplaydev.coplay@d73586190ebd/Editor/Coplay-v8.2.1.dll
Library/PackageCache/com.coplaydev.coplay@d73586190ebd/Editor/UI/Resources/Fonts/Font[[:space:]]Awesome[[:space:]]6[[:space:]]Free-Solid-900[[:space:]]SDF.asset
Library/PackageCache/com.unity.2d.animation@34e0443c58ed/Samples~/AnimationSamples/4[[:space:]]SpriteSwap/Sprites/dialog.psb filter=lfs diff=lfs merge=lfs -text
